body {
  padding-top: 10px;
  text-align: center;
}


.Menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Button-row {
  margin-bottom: 10px;
  
}

.Search-bar {
  justify-content: left;
  align-items: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
